---
const year = new Date().getFullYear();
---

<footer class="bg-gray-900 text-gray-400 py-12">
  <div class="max-w-6xl mx-auto px-6 text-center">
    <div class="flex gap-6 justify-center">
      <a
        href="https://github.com/quadtriangle/prod.bd"
        class="hover:text-white transition"
        target="_blank"
      >
        GitHub
      </a>
      <a
        href="https://github.com/quadtriangle/prod.bd/releases"
        class="hover:text-white transition"
        target="_blank"
      >
        Releases
      </a>
    </div>
    <p class="mt-6 text-sm">Copyright © {year} prod.bd. All rights reserved</p>
  </div>
</footer>
